# Backup files
*~
*.bak

# Build artifacts
*.oxt
*.tar*
*.tgz
*.zip
*.gz
*.part
*.log

# Package files
*.asc
*.sig
*.pkg.*
.AURINFO
.SRCINFO

# Source and package directories
src/*
pkg/*
*/src
*/pkg

# VCS and other subfolders
*/**/
!.github/
*/.git*

# mkpkg status files
.mkpkg_check

