pkgbase = xmrig-mo-bin
	pkgdesc = MoneroOcean fork of XMRig, high performance CPU/GPU miner with algo switching support (prebuilt)
	pkgver = 6.26.0_mo5
	pkgrel = 1
	url = https://github.com/MoneroOcean/xmrig
	arch = x86_64
	license = GPL-3.0-or-later
	depends = glibc
	depends = hwloc
	depends = openssl
	provides = xmrig
	provides = xmrig-mo
	conflicts = xmrig
	conflicts = xmrig-mo
	options = !debug
	options = !strip
	source = LICENSE-6.26.0_mo5::https://raw.githubusercontent.com/MoneroOcean/xmrig/v6.26.0-mo5/LICENSE
	sha256sums = 589ed823e9a84c56feb95ac58e7cf384626b9cbf4fda2a907bc36e103de1bad2
	source_x86_64 = https://github.com/MoneroOcean/xmrig/releases/download/v6.26.0-mo5/xmrig-v6.26.0-mo5-lin.tar.gz
	sha256sums_x86_64 = f239de5dc1f659a3215eaab42d3c22ecdcc9b3584a0e27692e82dd96f7ab38fa

pkgname = xmrig-mo-bin
