### The C compiler and options:
CC       = gcc
CFLAGS   = -g -O3 -Wall -march=native -mtune=native -pipe -fstack-protector-strong -fno-plt

CXX      = g++
CXXFLAGS = -g -O3 -Wall -Werror=overloaded-virtual -Wno-parentheses -march=native -mtune=native -pipe -fstack-protector-strong -fno-plt

### The directory environment:

# Default directories (adjust as necessary or desired):

PREFIX    = /usr
BINDIR    = $(PREFIX)/bin
INCDIR    = $(PREFIX)/include
LIBDIR    = $(PREFIX)/lib/vdr
LOCDIR    = $(PREFIX)/share/locale
MANDIR    = $(PREFIX)/share/man
PCDIR     = $(PREFIX)/lib/pkgconfig
RESDIR    = $(PREFIX)/share/vdr
DVBDIR    = /usr/src/v4l-dvb/linux/include/uapi

VIDEODIR  = /var/lib/vdr/video
CONFDIR   = /etc/vdr
ARGSDIR   = /etc/conf.d/
CACHEDIR  = /var/cache/vdr
PLGCFG    = $(LIBDIR)/plugins.mk
### The remote control:
LIRC_DEVICE = /run/lirc/lircd

### Define if you want vdr to not run as root:
VDR_USER = vdr

### Define if you want 'systemd' notification:
SDNOTIFY = 1

### Fallback for plugins with old makefiles:
ifdef PLUGIN
CFLAGS   += -fPIC
CXXFLAGS += -fPIC
endif
