[Unit]
Description=Video Disk Recorder
Documentation=man:vdr(1)
Documentation=file:///usr/share/doc/vdr/INSTALL
After=sound.target
# This can be removed if no plugins bind to IP other than 0.0.0.0 or 127.0.0.1
After=network.target

[Service]
Type=notify
User=vdr
EnvironmentFile=/etc/conf.d/vdr
ExecStartPre=/usr/bin/vdr-check-setup
ExecStart=/usr/bin/runvdr
ExecStop=-/usr/bin/vdr-set-wakeup
Restart=on-failure
RestartPreventExitStatus=2

[Install]
WantedBy=multi-user.target
