name: renovate

on:
  schedule:
    - cron: "0 4 * * *"
  push:
    branches:
      - main
    paths:
      - "*/PKGBUILD"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Run Renovate
        uses: renovatebot/github-action@v46.0.0
        env:
          RENOVATE_REPOSITORIES: '["${{ github.repository }}"]'
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
